@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


body{
    /*background-color: #011627;*/
    /*background-image: linear-gradient(60deg, yellow, blue);*/
    background-image: radial-gradient(at right bottom, white, purple);
    background-attachment: fixed; /*    so passt sich der Hintergrund (in dem Fall der Farbverlauf)
                                        an die seiten größe automatisch an.  */
    
    color: black;
    margin: auto ;
    max-width: 70%;
}

h1, h1, h3, h4{
    margin-top: 0.3em;
    margin-bottom: 1em;
    font-size: 4.3em;
    font-weight: bold;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

ul.navbar {
    margin: 0.4em;
    padding-left: 0;
    list-style: none;
}

strong, b {
    font-weight: bold;
    color: black;
}

p {
    line-height: 1.7;
}

p:hover{
    background-color: white;
}

.hervorgehoben {
    color: white;
}

.informativ {
    font-size: 1.1em;
    line-height: 0.8;
}
a.navbar {
    display: inline-block;
    padding: 1em;
    
}

a.navbar:hover {
    color: black;
    font-weight: bold;
   
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #FE291A;
    text-decoration: none;
}

#aside_left {
    background-color: #22547B;
    display: inline-block;
}

nav {
    
    border-radius: 0.4em;
}

ul.navbar li {
    display: inline-block;
}

main {
    display: inline-block;
    padding: 1em;
}

footer {
    background-color: #22547B;
}

#w_left {
    background-color: #22547B;
    width: 15em;
    height: 10em;
    float: left;
    margin: 10px 5px 10px 10px;
}

#w_left p{
   margin: 0;
   padding: 0;
}


div#w_right {
    background-color: #22547B;
    width: 10em;
    height: 10em;
    margin: 10px 10px 10px 5px;
    float: left;
    transition: ease 0.3s;
}

#w_right:hover {
    opacity: 100%;
    background-color: aqua;
}



#w_left:hover {
    opacity: 30%;
}

#w_right p{
    margin: 0;
    padding: 0;
 }
 
 /**
übung mit den bildern (größe anpassen)
**/

figure.picture_me {
    margin: 0 0 1rem 0;
    width: 20rem;
    height: 25rem;
    overflow: hidden; /*so wird es schön recheckig*/
    border-radius: 2%;
}

.fit{
    width: 100%;
    height: 100%;
    /* Durch object-fit werden sie nicht mehr verzerrt angezeigt.
    Der Referenzpunkt ist der Mittelpunkt vom Bild. */
    object-fit: cover;
    object-position: center 25%;
}

section.center{
    text-align: center;
}

div.two_picture{
    display: inline-block;
    
}