@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


body{
    background-color: #011627;
    font-family: 'Josefin Sans', sans-serif;
    color: white; 
    max-width: 700px;
    margin: auto ;
}

h1, h1, h3, h4{
    font-size: 4.3em;
    font-weight: bold;
    text-align: center;
}

strong, b {
    font-weight: bold;
    color: #FB7361;
}

p {
    line-height: 1.7;
}

a:link {
    color: #437F97;
    text-decoration: none;
}

a:visited {
    color: #22547B;
    text-decoration: none;
}

a:hover {
    color: #FE291A;
    text-decoration: none;
}